.well {
  padding-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

#error {
  color: red;
  font-weight: bold;
}

h2.header {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 2px;
}

#parse, #copy {
  float: right;
  border-radius: 50%;
  border-color: yellow;
  border-width: 2px;
  padding: 6px 16px;
  margin-bottom: 4px;
  font-family: monospace;
  letter-spacing: -1px;
  font-size: 17px;
}

#parse:focus, #copy:focus {
  outline: 0;
}

#aceR,
#aceHTML {
  border-width: 2px;
  border-radius: 0;
}

.alert .glyphicon {
  font-size: 30px;
}

.alert .header strong {
  font-size: 25px;
}

.ace_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.ace_scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}


/* file input */
.form-control[readonly] {
  background-color: rgba(176, 196, 222, 0.5);
  color: powderblue;
  border: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: powderblue !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: powderblue !important;
}
::-ms-input-placeholder { /* IE 10+ */
  color: powderblue !important;
}
.btn-file {
  font-style: oblique;
  font-weight: bold;
  font-size: 16px;
  padding: 0 12px;
  border-width: 2px;
}
.progress {
  display: inline-table;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.progress-bar {
  font-family: Helvetica, sans-serif;
  background-color: royalblue;
  background-image: linear-gradient(90deg, darkslateblue 0%, royalblue 50%, rgba(0,255,255,0.5));
  margin-top: 0;
}
.form-control {
  height: 26px;
}
